$slightly-dark: #42454d;
$dark: #36393f;
$really-dark: #2f3136;
$really-really-dark: #202225;
$really-really-really-dark: #18191c;
$light: #efefef;
$blurple: #7289da;

$primary-color: $blurple;

$theme-colors: (
	primary: $primary-color
);

$text-muted: #adadad;

$body-bg: $really-dark;
$body-color: $light;

$navbar-bg: $really-really-dark; // Not Bootstrap thing, used in app.scss
$navbar-light-color: #ddd;
$navbar-light-hover-color: #eee;
$navbar-light-active-color: #eee;

$dropdown-bg: $really-really-really-dark;
$dropdown-link-hover-bg: lighten($really-really-really-dark, 4%);

$card-bg: $really-really-dark;
$card-cap-bg: $really-really-dark;
// $card-border-radius: 1px;

$link-color: lighten($primary-color, 15%);

$font-family-sans-serif: 'Lato', sans-serif;

$fa-font-path: "./font-awesome-pro/webfonts";