@import url(https://fonts.googleapis.com/css?family=Lato:400:700);
@import 'variables';
@import 'node_modules/bootstrap/scss/bootstrap';
@import './font-awesome-pro/scss/fontawesome';
@import './font-awesome-pro/scss/fa-brands.scss';
@import './font-awesome-pro/scss/fa-light.scss';
@import './font-awesome-pro/scss/fa-regular.scss';
@import './font-awesome-pro/scss/fa-solid.scss';
@import './pace';
@import './mobile-navbar';

@import '~highlight.js/styles/hybrid.css';


html,
body,
#app {
	height: 100%;
}

body {
	padding: 84px 4vw 5vh 4vw;
}

#app {
	display: flex;
	flex-direction: column;
}

#main-content {
	flex: 1 0 auto;
}

@include media-breakpoint-down(sm) {
	body {
		padding: 128px 4vw 0 4vw !important;
	}
}

.clickable {
	cursor: pointer;
}


.navbar {
	background: $navbar-bg;
}

.nav-item.active {
	border-bottom: 2px solid $blurple;
}

.toast .toast-content {
	position: fixed;
	padding: 16px 16px;
	top: 90px;
	right: 3vw;
	cursor: pointer;
	border-radius: 3px;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
	font-size: 1rem;
	background: #111;
	z-index: 10000;
}

.alert-danger {
	background: #521717;
	color: $light;
	border-color: darken(#521717, 2%);
}

.alert-success {
	background: #2c5c2e;
	color: $light;
	border-color: darken(#2c5c2e, 2%);
}

a.nostyle {
	text-decoration: none;
	color: inherit;
}

.card-columns {
	@include media-breakpoint-only(xl) {
		column-count: 4;
	}
}

.dangerous-text {
	color: #e57373;

	&:hover {
		color: #ef9a9a;
	}
}
.success-text {
	color: #43b581;

	&:hover {
		color: #48c48c;
	}
}

a.disabled {
	color: $text-muted;
	pointer-events: none;
}

pre code {
	background: #36393f !important;
	border: 1px solid #2e3136 !important;
}